@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.theme-dark {
  --background: #0f0d16;
  --foreground: #f4f4f5;
}

html.theme-light {
  --background: #f7f7fb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
